body { background: #fe0432; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 33px; display: flex; }
.block-shipping-0 { color: #d45bda; font-size: 12px; margin-bottom: 5px; }
.block-token-1 { color: #25fc50; font-size: 18px; margin-bottom: 5px; }
.block-user-2 { color: #d97083; font-size: 12px; margin-bottom: 5px; }
.block-auth-3 { color: #26f33e; font-size: 16px; margin-bottom: 5px; }
.block-uploader-4 { color: #96af3; font-size: 17px; margin-bottom: 5px; }